@mixin button {
  cursor: pointer;

  display: inline-flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;

  width: fit-content;
  padding: 0.375rem 1.875rem;

  font-family: var(--font-family-primary);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  text-align: center;
  text-decoration: none;

  background-color: transparent;
  border: none;
  border-radius: 0.5rem;

  transition:
    var(--transtition-duration-basic) background-color,
    var(--transtition-duration-basic) color;

  &:focus-visible {
    outline: 2px solid var(--color-outline-focus);
  }

  &:disabled {
    cursor: initial;
  }

  &.fullWidth {
    justify-content: center;
    width: 100%;
  }
}

.primary {
  @include button;

  color: var(--color-light-100);
  background-color: var(--color-accent-500);
  box-shadow: 0 4px 18px 0 rgba(140 97 255 / 35%);
  border: 2px solid var(--color-accent-500);
  &:hover {
    background-color: var(--color-accent-300);
  }

  &:active {
    background-color: var(--color-accent-700);
  }

  &:disabled {
    color: var(--color-light-900);
    background-color: var(--color-accent-900);
  }

  &:focus {
    border: 2px solid var(--color-info-700, #2f68cc);
  }
}

.secondary {
  @include button;

  color: var(--color-light-100);
  background-color: var(--color-dark-300);
  box-shadow: 0 2px 10px rgba(109 109 109 / 25%);

  &:hover {
    background-color: var(--color-dark-100);
  }

  &:active {
    background-color: var(--color-dark-500);
  }

  &:disabled {
    color: var(--color-light-900);
    background-color: var(--color-dark-300);
  }

  &:focus {
    border: 2px solid var(--color-info-700, #2f68cc);
  }
}

.tertiary {
  @include button;

  flex-shrink: 0;
  color: var(--color-accent-500);
  border: 1px solid var(--color-accent-500, #8c61ff);

  &:hover {
    background: var(--color-dark-500, #333);
    border: 1px solid var(--color-accent-700, #704ecc);
  }

  &:active {
    background: var(--color-accent-900, #382766);
    border: 1px solid var(--color-accent-700, #704ecc);
  }

  &:disabled {
    color: var(--color-accent-900);
    border: 1px solid var(--color-accent-900, #382766);
  }

  &:focus {
    border: 2px solid var(--color-info-700, #2f68cc);
  }
}

.link {
  @include button;

  flex-shrink: 0;
  align-items: flex-start;
  padding: 6px 0;
  color: var(--color-accent-500);

  &:hover {
    color: var(--color-accent-300);
  }

  &:active {
    color: var(--color-accent-700);
  }

  &:disabled {
    color: var(--color-accent-900);
  }

  &:focus {
    border: 2px solid var(--color-info-700, #2f68cc);
  }
}

.fullWidth {
  width: 100%;
}
